body {

}
*{
    padding:0px;
    margin:0px;
}
#menu {
    margin: auto;
    width: 600px;
    font-family: 'Arial Rounded MT';
}
ul, ol {
        list-style: none;
    }
.Cabe li, a {
        background-color: blanchedalmond;
        color: darkslategrey;
        width: 500px;
        text-decoration: none;
        padding:20px 25px;
        display:block;
    }
.Cabe > li{
    float:left;
}